{% extends "main/layout.html" %}
{% block title %}Home Page{% endblock title %}

{% block content %}


<main>
  <section class="w-full bg-white dark:bg-gray-800 shadow-md rounded-xl p-6 text-center">
    {% if user.is_authenticated %}
      <p class="text-lg font-medium mb-4 text-gray-900 dark:text-white">Hello, {{ user.username }}!</p>
    {% else %}
      <p class="text-lg font-medium mb-6 text-gray-900 dark:text-white">Welcome, please log in or register.</p>
      <div class="flex justify-center gap-4">
        <a href="{% url 'register' %}" class="bg-green-500 hover:bg-green-600 py-2 px-5 rounded-xl transition-transform transform hover:scale-105 text-white">
          Register
        </a>
        <a href="{% url 'login' %}" class="bg-blue-500 hover:bg-blue-600 py-2 px-5 rounded-xl transition-transform transform hover:scale-105 text-white">
          Login
        </a>
      </div>
    {% endif %}
  </section>
  <section class="w-full bg-white dark:bg-gray-800 shadow-md rounded-xl p-6 text-center mt-8">
    <a href=""></a>
  </section>
</main>
{% endblock content %}
